.addphoto {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
}

.input-photo {
  background-color: #f6f5f4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.form-control:focus {
  border-color: #efc81a;
  box-shadow: 0 0 5px rgba(255, 255, 0, 0.5);
}

.btn-submit {
  background-color: #efc81a;
  border: none;
  padding: 10px 80px;
  border-radius: 5px;
}
